.MovieInfo {
  background-color: rgba(0,0,0,0.76);
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
}

.Poster {
  width: 45%;
}

.Poster img {
  width: 100%;
}

.Details {
  width: 55%;
  text-align: left;
  padding: 20px 20px 0 20px;
  color: white;
}

.Details h1 {
  font-size: 2.6em;
  margin: 10px 0;
  text-transform: uppercase;
}

.Details h3,
.Details h4,
.Details strong {
  color: #01D277;
}

/* SubDetails section */

.SubDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.SubDetails div {
  width: 47%;
}

.SubDetails div p {
  margin-bottom: 0px;
  font-size: 1.1em;
}

.SubDetails strong {
  font-size: 1.5em;
}

.BtnTrailer {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 0;
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  position: relative;
  transform: perspective(1px);
  cursor: pointer;
}

.BtnTrailer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 50%;
  background: #01D277;
  transition: all 0.3s;
  z-index: -1;
}

.BtnTrailer:hover::before {
  transform: scaleX(1);
}

/* MEDIA QUERIES */

@media (max-width: 690px) {
    .MovieInfo {
      flex-wrap: wrap;
    }

    .Poster,
    .Details {
      width: 100%;
    }
  }


@media (max-width: 497px) {

  .Details h1 {
    font-size: 2.3em;
  }
  .SubDetails div {
    width: 100%;
  }
}
