.MovieInfo {
  background-color: rgba(0,0,0,0.76);
  display: flex;
  margin-top: 20px;
}

.Poster {
  width: 45%;
}

.Poster img {
  width: 100%;
}

.Details {
  width: 55%;
  text-align: left;
  padding: 20px;
  color: white;
}

.Details h1 {
  font-size: 3em;
  margin: 10px 0;
  text-transform: uppercase;
}

.Details h3,
.Details h4,
.Details strong {
  color: #01D277;
}

.SubDetails {
  display: flex;
  flex-wrap: wrap;
}

.SubDetails div {
  width: 50%;
}

.SubDetails div p {
  margin-bottom: 0px;
  font-size: 1.1em;
}

.SubDetails strong {
  font-size: 1.6em;
}
