.Modal {
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bbb;
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  transition: transform 0.3s;
}

.CloseModal {
  background: #FF0000;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.BtnTrailer {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 0;
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  position: relative;
  transform: perspective(1px);
  cursor: pointer;
}

.BtnTrailer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 50%;
  background: #01D277;
  transition: all 0.3s;
  z-index: -1;
}

.BtnTrailer:hover::before {
  transform: scaleX(1);
}

/* CSS Transition classes */

.show-modal-enter {
  transform: translateY(-9999px);
}

.show-modal-enter-active {
  transform: translateY(0px);
}

.show-modal-exit {
  transform: translateY(0);
  transition: transform 2s;
}

.show-modal-exit-active {
  transform: translateY(-9999px);
}

/* MEDIA QUERIES MODAL */

@media (max-width: 630px) {
  .Modal {
    width: 100%;
  }

  .Modal iframe {
    width: 100%;
  }
}
