.ListResults {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: left;
  z-index: 5;
  overflow-y: auto;
  height: 250px;
  color: white;
  background-color: rgba(0,0,0,0.86);
  transition: all 0.4s;
}

.translateY-enter {
  transform: translateY(5px);
  opacity: 0;
}
.translateY-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.ListResults li {
  padding: 10px 20px;
  cursor: pointer;
}

.ListResults li:hover,
 .ListResults li:focus{
  background-color: #01D277;
}
