.ListResults {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: left;
  z-index: 5;
  overflow-y: auto;
  height: 250px;
}

.ListResults li {
  padding: 10px 20px;
}
