.App {
  text-align: center;
}

.Layout {
  width: 800px;
  margin: 0 auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.Logo {
  width: 45%;
  text-align: left;
}

.Logo img {
    height: 75px;
    margin-top: 10px;
}

.SearchMovieContainer {
  width: 55%;
  position: relative;
}

.Footer {
  background-color: #000;
  color: grey;
  padding: 20px 0;
}

.Footer p {
  margin-bottom: 0px;
}

.Footer a {
  color: grey;
  text-decoration: none;
}

.Footer a:hover {
  color: #00D474;
}
